# The following settings are for the default configuration of the
# mozillapulse test vagrant box.
# If not specified, the defaults in the mozillapulse package are used for
# the pulse config (mozillapulse/mozillapulse/config.py).
# See the --help output for the full list of options, pulse and otherwise,
# all of which can be specified here or on the command line, as per the
# standard tornado config module.
pulse_host = '192.168.33.10'
pulse_port = 5672
pulse_vhost = 'pulse'
pulse_user = 'pulse'
pulse_password = 'pulse'
