# Example settings.

[server]
# Port is required.
port = 8844

[log]
# file defaults to '', meaning stdout.
file = /var/log/bugzfeed.log
# verbose defaults to false; setting can be overridden with -v option
verbose = false

# Settings for the mozillapulse test vagrant box.
# Values default to those in mozillapulse.config.
[pulse]
host = 192.168.33.10
port = 5672
vhost = pulse
user = pulse
password = pulse
